@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');

@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: 1rem 'Montserrat', sans-serif;
}

body{
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-3);
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-1);
    text-decoration: none;
    margin: 12px;
}

#header{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-3);
    align-items: center;
    padding: 20px 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    height: 8rem;
}

.header-logo{
    display: block;
    width: 60%;
    max-width: 25rem;
}

.header-logo:hover{
    transition: all 0.3s ease 0.5s;
    opacity: 0.5;
    cursor: pointer;
}

.nav-items a{
    display: inline-block;
}

ul {
    display: flex;
    justify-content: space-between;

}

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 6rem;
}

.img-logo{
    width: 80%;
    min-width: 10rem;
    height: auto;

}
.img-logo-button{
    transition: all 0.3s ease 0s;  
}
.img-logo-button:hover{
    opacity: 0.7;
    transition: all 0.2s 0s ease;
}

.div_header {
    width: 11rem;
}

.div_footer{
    width: 4rem;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items a{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;   
}

.nav-items a:hover{
    color:  var(--color-2);
    font-size: 1.3rem;   
}

.nav-item button:hover{
    background-color: var(--color-3);
    color:  var(--color-1);
    font-size: 1.3rem;   
}

button {
    background-color: var(--color-1);
    color: var(--color-3);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease 0s;   
}



.nav-items{
    list-style: none;
    background-color: var(--color-3);
}

p   {
    background-color: var(--color-4);
    color: var(--color-1);
    font-size: 20px;
    padding: 20px;
}

.img-logo-button{
    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

footer{
    margin-top: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 90rem;
    height:fit-content;
   
    background-color: var(--color-1);
    text-align: center;
    padding: 1rem 10rem;
    position: absolute;
    bottom: 0;
    width: 100%;

}

footer p{
    background-color: var(--color-1);
    font-size: 1rem;
    font-weight: 300;
    color: white;

}


footer img{
    background-color: var(--color-1);
    width: 10rem;
}

.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media i {
    font-size: 2rem; 
    color: #ffffff; 
    margin: 0.3rem;
    transition: all 0.3s ease 0s;  
}
.fa-square-instagram:hover{
    font-size: 2.3rem;
    transition: all 0.3s ease 0s;   
    margin: 0;
    opacity: 0.7;
    
}

.fa-square-facebook:hover{
    font-size: 2.3rem;
    transition: all 0.3s;
    margin: 0;
    opacity: 0.7;
}



.header-scroll{
    background-color: var(--color-3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    height: 15px;
}

.instagram_div{ 
    background-color: var(--color-3);;
    height: 33rem;
    text-align: center;
    width: 100vw;
}

main{


    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 5%;
}

.right-section{
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.media-icons-container{
    display: flex;
    width: 8rem;
    justify-content: space-between;
}
.media-icons-container div{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    
}

.social-main i{
    font-size: 3rem;
    transition: all 0.3s ease 0s;
}

.social-main i:hover{
    font-size: 3.2rem;
    transition: all 0.3s ease 0s;
    
}


section{
    margin-top: 10rem;
    padding: 0 8rem;
}
section p{
    padding: 0 0;
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
}

.mail_box{

    width: 21rem;
    display: flex;
    

    margin-top: 5rem;
}

.mail_box i{    
    background-color: rgb(209, 209, 209);
    padding: 1rem;
    border-radius: 15px;
    font-size: 2rem;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

