<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/img/IDB-LOGO-negativo.png" type="image/x-icon">
    <title>Idbsl - contatos</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">


    
    
    <link rel="stylesheet" href="/public/css/contact_page.css">
    <link rel="stylesheet" href="/public/css/colors.css">
</head>
<body>
    <header id="header" style="transition: all 0.5s ease-in-out;" >
        <div class="logo_container"> 
            <a href="/public/index.html" class="img-logo-button" ><img class="img-logo" src="/public/img/logo-2.png" alt=""></a>
        </div>

        <nav>
            <ul class="nav-items">
                <div class="div_header"><a  href="/templates/about.html">Cultos</a></div>
                <div class="div_header"><a  href="/templates/cultos.html">Quem somos</a></div>
                <div class="div_header"><a  href="/templates/projects.html">Projetos</a></div>
                <div class="div_header"><a  href="templates/contact_page.html" class="nav-item"><button>Contato</button></a></div>    
            </ul>        
        </nav>
    </header>

    <main>
        <section class="left-section">
            <div>
                <p style="font-weight: 700; font-size: 3.8rem; padding: 0 0;">Quer entrar em <br>contato conosco?</p>
                <p style="font-weight: 400; font-size: 3rem; padding: 1rem 0;">Vamos conversar.</p>
            </div>
            
            <div class="mail_box">
                <div >
                    <i class="fa-regular fa-envelope"></i>                
                </div>
               <div>
                <p style="padding: 5px 20px; font-size: 1.2rem;">Nos envie um Email em:  </p>
                <p style="padding: 5px 20px; font-weight: 600;">idbfamiliasitio@gmail.com</p>
               </div>
                
            </div>
        </section>

        <section class="right-section">
            <div>
                <p style="font-weight: 600; font-size: 2.5rem; padding: 5px 0;">Localização:</p>
                <p style="font-size: 1.2rem; padding: 10px 0 ;">R. X-27 - Sitios Santa Luzia, Aparecida de Goiânia - GO, 74922-690</p>    
            </div>
            <div class="social-main">
                <p style="font-weight: 600; font-size: 2.5rem; padding: 10px 0;">Siga-nos:</p>
                <div class="media-icons-container">
                    <div>
                        <a href="https://www.instagram.com/idbfamiliasitio" target="_blank" aria-label="Instagram">
                            <i class="fa-brands fa-square-instagram insta"></i>
                        </a>
                    </div>
                    <div>
                        <a href="https://web.facebook.com/IgrejaDeDeusNoBrasilSantaLuzia/?locale=pt_BR&_rdc=1&_rdr" target="_blank" aria-label="Facebook">
                            <i class="fa-brands fa-square-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
                

               
            <p> 
                    &#169;
                2024 - Igreja de Deus no Brasil Sítios St. Luzia - todos os direitos reservados.
            </p>
            

        </section>
    
        
    </main>

    <footer> 
        <img src="/public/img/inverted_logo.png" alt="">
        <p>2024 - Igreja de Deus no Brasil Sítios St. Luzia - todos os direitos reservados.</p>
        <div class="social-media">
            <div class="div_footer">
                <a href="https://www.instagram.com/idbfamiliasitio" target="_blank" aria-label="Instagram">
                    <i class="fa-brands fa-square-instagram insta"></i>
                  </a>
            </div>
            <div class="div_footer">
                <a href="https://web.facebook.com/IgrejaDeDeusNoBrasilSantaLuzia/?locale=pt_BR&_rdc=1&_rdr" target="_blank" aria-label="Facebook">
                    <i class="fa-brands fa-square-facebook"></i>
                  </a>
            </div>
           
          </div>
        
    </footer>


    <script src="js/carousel.js"></script>

    <!-- <script src="js/server.js"></script> -->
    <!-- <script src="js/script.js"></script> -->
    
    <script type="text/javascript"> 
        
        const tituloElements = document.querySelectorAll('.Idb_titulo');

        function animateOnScroll() {
            tituloElements.forEach(element => {
                const rect = element.getBoundingClientRect();
                if (rect.top < window.innerHeight && rect.bottom > 0) {
                    element.classList.add('animate');
                }
            });
        }

        window.addEventListener('scroll', animateOnScroll);
        animateOnScroll(); // Chame uma vez para animar elementos visíveis na carga

        
        
        let lastScrollTop = 0;
        const header = document.getElementById('header');

        // Set an initial scrollTop position
        window.addEventListener('scroll', () => {
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        
        if (scrollTop > lastScrollTop && scrollTop > 0) {
            // Scrolling down, hide the header
            header.style.transform = 'translateY(-100%)';
        } else {
            // Scrolling up, show the header
            header.style.transform = 'translateY(0)';
        }

        lastScrollTop = scrollTop <= 0 ? 0 : scrollTop; // For Mobile or negative scrolling


        });
    </script>

    <script>

        document.addEventListener('DOMContentLoaded', function() {
        const campos = "media_type,media_url,permalink";
        const limite = 40;

        const token = "IGQWRNbGhadVNhTmlWQ0MzUTRicXhiZAjFlSVBLYTV4dmFzUDNhZAWlhUmRmVGRwejNFOHFUbUM4dHFvQnhaWXRhNFBUa0g0N3VFT1ZAZAWUc2MWNPaFpwd2FiR1dSMmhZAUDhfbEJMUDlMM2ZA0c0ZA2djRBX0RvLTFLdHMZD";



        const baseURL = `https://graph.instagram.com/me/media?fields=${campos}&access_token=${token}&limit=${limite}`;
        
        fetch(baseURL)
            .then((response) => response.json())
            .then((data) => { 
                const container = document.querySelector(".container");

                data.data.forEach((img) => {
                    const mediaType = img.media_type;
                    const mediaUrl = img.media_url;
                    const permalink = img.permalink;
                    if (mediaType === "VIDEO") {
                        // const video = document.createElement("video");
                        // video.src = mediaUrl;
                        // video.classList.add("container-video");
                        // container.appendChild(video);
                    } else {
                        const anchor = document.createElement("a");
                        anchor.href = permalink;
                        anchor.target = "_blank"; // Open in a new tab
                        const image = document.createElement("img");
                        image.src = mediaUrl;
                        image.classList.add("container-img");
                        image.onload = () => {
                            image.style.opacity = 1; // Defina a opacidade para 1 após o carregamento
                        };
                        anchor.appendChild(image);
                        container.appendChild(anchor);
                    }
                });

                // Inicialize o carrossel após adicionar as imagens
                $('.responsive').slick({
                    dots: true,
                    arrows: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 4,
                    slidesToScroll: 4,
                    responsive: [
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3,
                                slidesToScroll: 3,
                                infinite: true,
                                dots: true,
                                arrows: true,
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 2,
                                slidesToScroll: 2,
                                arrows: true,
                            }
                        },
                        {
                            breakpoint: 480,
                            settings: {
                                slidesToShow: 1,
                                slidesToScroll: 1,
                                arrows: true,
                            }
                        }
                    ]
                });
            })
            .catch((error) => {
                console.error("Error fetching Instagram data:", error);
            });

        // Adicione a animação ao rolar a página
        
    });
    </script>
</body>
</html>